* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Manrope";
    src: url(fonts/Manrope-VariableFont_wght.ttf);
}

html {
    font-size: 13px;
    line-height: 1.5;
    font-family: "Manrope";
}

img {
    width: 100%;
    display: block;
}

:root {
    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
}

body {
    background-color: var(--Light-Grayish-Blue);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

article {
    position: relative;
    width: 60%;
    background: white;
    border-radius: 12px;
    color: var(--Very-Dark-Grayish-Blue);
}

.article-content {
    padding: 32px;
    padding-bottom: 8px;
}

.preview-image {
    object-fit: cover;
    object-position: 50% 30%;
    height: 30vh;
    border-radius: 12px 12px 0 0;
}

.title {
    font-weight: 700;
    font-size: 1.8rem;
}

.description {
    margin: 20px 0;
    font-size: 1.2rem;
}

.bottom-section {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    padding-left: 24px;
    height: 8vh;
}

.bottom {
    position: relative;
}

.hidden {
    display: none;
}

.avatar {
    width: 12.5%;
    border-radius: 50%;
}

.user-info {
    margin: auto .5rem;
    width: 50%;
}

.username {
    font-weight: 700;
    font-size: 1.2rem;
}

#share-menu {
    background-color: var(--Very-Dark-Grayish-Blue);
    color: var(--Light-Grayish-Blue);
    font-size: 1.2rem;
}

.share-text {
    text-transform: uppercase;
    letter-spacing: 0.6rem;
    font-weight: 200;
    margin: 0 20px;
}

.socials {
    display: flex;
    width: 100%;
    gap: 2rem;
}

.socials a {
    width: 10%;
}

#share-button {
    position: absolute;
    bottom: 30%;
    right: 10%;
    padding: 10px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.dark {
    background-color: var(--Desaturated-Dark-Blue);
}

.dark img {
    filter: brightness(1000%);
}

.attribution {
    position: fixed;
    right: 3%;
    bottom: 3%;
    font-size: 1rem;
    text-align: center;
    border-radius: 4px;
    padding: 2px;
    background-color: var(--Desaturated-Dark-Blue);
}

hr {
    border-color: var(--Very-Dark-Grayish-Blue);
}

.attribution p {
    margin: 2px;
}

.attribution a {
    color: var(--Light-Grayish-Blue);
    text-decoration: none;
}

@media (min-width: 768px) {
    article {
        width: 70%;
        max-width: 840px;
        display: flex;
    }

    .preview-image {
        object-position: 10% 30%;
        width: 35%;
        height: 40vh;
        border-radius: 12px 0 0 12px;
    }

    .title {
        font-size: 1.6rem;
    }

    .description {
        font-size: 1.1rem;
    }

    #share-menu {
        position: absolute;
        right: -15.5%;
        bottom: 110%;
        width: 60%;
        max-width: 280px;
        padding: 12px 32px;
        justify-content: center;
        font-size: 1rem;
        height: 6vh;
        border-radius: 8px;
        box-shadow: 1px 1px 8px 2px var(--Desaturated-Dark-Blue);
    }
    
    #share-menu::before {
        content: '';
        width: 0;
        height: 0;
        border-top: 1.8vw solid var(--Very-Dark-Grayish-Blue);
        border-right: 1.5vw solid transparent;
        border-left: 1.5vw solid transparent;
        position: absolute;
        bottom: -1.8vw;
    }

    .share-text {
        text-transform: uppercase;
        letter-spacing: 0.6rem;
        font-weight: 200;
        margin: 0;
    }
    
    .socials {
        display: flex;
        width: 50%;
        gap: 1rem;
    }
    
    .socials a {
        width: 20%;
    }

}